<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - GenericOnlineStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GenericOnlineStore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="icon-home"></i>  </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Store" asp-action="ViewAllItems"><i class="icon-calendar-empty"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Store" asp-action="ViewMyTrolley"> <i class="icon-shopping-cart"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ViewMyAccount"><i class="icon-credit-card"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Links"><i class="icon-sitemap"></i></a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TechSupport"><i class="icon-comments"></i> </a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Store" asp-action="Index"><i class="icon-plus-sign-alt"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="row">
        <div class="col-md-2">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse"  >
        <div class="position-sticky pt-3">
            <ul class="nav flex-column" style="color: white;">

                <li class="nav-item">
                    <a class="nav-link" href="#"><span data-feather="shopping-cart"></span><i class="icon-bolt"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><span data-feather="home"></span><i class="icon-heart"></i> </a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><span data-feather="home"></span><i class="icon-code-fork"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><span data-feather="home"></span><i class="icon-rocket"></i></a>
                </li>
                <li class="fixed-bottom">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark"><i class="icon-off"></i></button>
                    </form>
                </li>
            </ul>
            <ul class="nav flex-column mb-2">
            </ul>

        </div>
    </nav>
            </div>
        <div class="col-md-8">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
            </div>
        <div class="col-md-2" style="background-color:rgb(41, 41, 41);">
    <div style="background-color:rgb(41, 41, 41);">
        <img src="~/AdvertPlaceholder.jpg" class="card-img" style="width:auto;">
        <img src="~/AdvertPlaceholder.jpg" class="card-img" style="width:auto;">
        <img src="~/AdvertPlaceholder.jpg" class="card-img" style="width:auto;">


    </div>
            </div>
        </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - GenericOnlineStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
