@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My Store </h1>
    <p> Generic Online Store , use Paypal or any other custom payment method such as e-wallet or EFT </p>
</div>

<div class="jumbotron">

    <div class="card" style="width:500px">
        <img class="card-img-top" src="~/AdvertPlaceholder.jpg" alt="Card image">
        <div class="card-img-overlay">

            <h4 class="card-title">Opening Special</h4>
            <p class="card-text">

                Brand New Products Here !!

            </p>
        </div>
            <a href="#" class="btn btn-primary">View Special</a>
    </div>

</div>

