@model GenericOnlineStore.Models.ViewModels.TrolleyViewModel


@foreach (var item in Model.ItemsPurchased)
{

    <partial name="_StoreViewItem" model="item" />

}

Total = @Model.FinalTotal


@Html.ActionLink("Checkout", "Checkout", "Payment");
<a asp-action="Checkout" asp-controller="Payment" class="btn btn-success" asp-route-item="@Model"> Check Out  </a>
<a asp-action="Checkout" asp-controller="Store" class="btn btn-success"> Check Out store </a>