@model IEnumerable<GenericOnlineStore.Models.ViewModels.StoreItemViewModel>

    <div class="jumbotron-fluid">

    <h1>Our Catalogue</h1>

@foreach (var item in Model)
{
   <partial name="_StoreItemView", model="item"/>
}

    </div>
